.button-logout{
  display: none;
}

.box-content{
  margin-top: 2%;
  padding: 2%;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
}

.image-profile{
  width: 30%;
  border-radius: 50%;
  margin-bottom: 5%;
}

.border-left-box{
  border-left: 1px solid #dedede;
}

.number-cars{
  color: #FF5252;
  font-size: 5rem;
}

.image-car{
  width: 80%;
}
